/* aboutpage.css */

.about-page {
  text-align: center;
  background-color: #1f1f1f;
  color: #fff;
  padding: 20px 0;
}

.about-title {
  font-size: 2rem;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
}

.section-line {
  height: 2px;
  width: 50%;
  background-color: #0366d6;
  margin: -20px auto;
  padding-bottom: 25px;
  border-radius: 50%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  width: 250px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #333;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-name {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 10px;
}

.card-description {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #ddd;
}

.github-profile a {
  color: #0366d6;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.article-container {
  margin: 20px;
}

.article-container img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.article-text {
  font-family: 'Poppins', sans-serif;
}

.article-description {
  font-size: 1rem;
  color: #ddd;
}

.why-choose-section {
  margin: 20px;
}

.section-heading {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.section-description {
  font-size: 1rem;
  color: #ddd;
}

.swiper-container {
  width: 100%;
  padding: 20px; /* Adjust as needed */
}

.swiper-card {
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
}

.swiper-card img {
  border-radius: 50%;
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
}

.swiper-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.swiper-btn {
  background: #0366d6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.swiper-btn:hover {
  background: #004080;
}


/* Responsive Styles... */
@media (max-width: 768px) {
  .swiper-card {
    padding: 10px; /* Adjust for smaller screens */
  }
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .card {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
