.NavBar{
    width: 100%;
    height: 60px;
    position:sticky;
    top: 0;
    z-index: 5;
    color: var(--color-white);
    background-color:#BBCACB;
}

.deskTopNavBar{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mobileNavBarBtn{
    width: 31px;
    height: 31px;
    display: none;
    margin: 20px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

/* .mobileMenu {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: var(--bg-white);
} */

.deskTopNavBar .leftSide,
.deskTopNavBar .rightSide {
    display: flex;
    align-items: center;
}

.deskTopNavBar .rightSide {
    min-width: fit-content;
}

.NavBar .img {
    filter: brightness(0) invert(1);
    height: 12px;
    margin-top: 5px;
    margin-right: 10px;
}

/* .appTxt {
    color: var(--color-white);
    text-decoration: none;
} */

.menuItem {
    color: var(--color-white);
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    min-width: fit-content;
    display: flex;
    align-items: center;
}
.menuItem a{
    text-decoration: none;
    font-size: 1.1rem;
}



/* .profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* 
.profilePic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
} */

/* .profileName {
    margin: 0px 10px;
} */

.arrow {
    filter: invert(1);
    color: white;
}

.menu {
    position: absolute;
    top: 60px;
    width: 200px;
    border-radius: 10px;
    background-color: var(--color-white);
    display: none;
}

.menuItemLink {
    padding: 0.6rem;
    cursor: pointer;
    font-size: 1rem;
    min-width:fit-content;
}
.menuItem .menuItemLink{
    font-size: 1rem;
}

/* .menuItemLinkTxt:first-child > .menuItemLink {
    border-radius: 10px 10px 0 0;
}

.menuItemLinkTxt:last-child > .menuItemLink {
    border-radius: 0 0 10px 10px;
} */

/* .menuItemLink:hover {
    background-color: var(--bg-ash);
} */
/* 
.menuItemLinkTxt {
    width: 100%;
    color: var(--color-title-text);
    font-weight: 350;
    text-decoration: none;
} */

/* .dnone {
    display: none;
} */

.modals{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.modals::-webkit-scrollbar{
    height: 0;
}

.dropDownMenuNavBar{
    position: absolute;
    border: 0.5px solid rgb(148, 147, 147);
    border-radius: 3px;
    background-color:var(--color-white); 
    top:3rem;
    color: black;
    box-shadow: 0 0 10px 1px #d5d5d5;
    height: 100px;
    width: 100px;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-evenly; 
    padding: 4px;
}

.leftSide i{
    font-size: 1.6rem;
    cursor: pointer;
}


@media all and (max-width: 480px) {
    .NavBar{
        width: 100%;
        height: 60px;
        position: absolute;
        top: 0;
        z-index: 5;
        color: var(--color-white);
    }
    
    .deskTopNavBar{
        display: none;
    }

    .mobileNavBarBtn{
        display: block;
    }
}