.footer{
    width: 100%;
    height: 35rem;
    background-color: aliceblue;
}

.footerInner{
    width: 100%;
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

.footer-hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}


.footer-grid{
    width: 100%;
    max-width: 610px;
    display: flex;
    justify-content: space-between;
}
.footer-grid div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-grid div a{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}
.socialText{
    font-size: 1rem;
}
.footerSocial{
    display: flex;
}
#social-wrap{
    display: flex;
    flex-direction: row;
}

.footer-quote{
    font-style:oblique;
}


@media all and (max-width: 480px) {
    .footer-avatar{
        display: none;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-grid{
        flex-direction: column;
    }
    .socialText{
        align-items:center ;
    }
    #social-wrap{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}